# A dummy action script

on: [push, pull_request]

name: Dummy-action

jobs:
  name: Show-files
  runs-on: ubuntu-latest
  steps:
    - uses: actions/checkout@v2
    - name: list-files
      run: |
        ls -R
    - name: show-files
      run: |
        find . -type f -not -path */\.* -exec echo '{}' ';' -exec cat '{}' ';'
